---
test : a
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Videojuegos</title>
    <link rel="stylesheet" href="./kleyton.css">
    {% include css.html %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script rel="script" src="./kleyton.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
    .navbar{
        border-radius: 0;
        margin-bottom: 0;
    }
    #slider div.sliderElement{
        font-size: 2rem;
    }
    a{
        text-decoration: none !important;
    }
    </style>
<body>

    {% include navigation.html %}
    <div id="container">

       <div id="sliderContainer">
            <div id="slider">
                    {% for game in site.videogames %}
                    <div class="sliderElement visible first" style="background: url({{game.image}}) no-repeat center center/cover;">{{ game.name }}<a href="{{game.url}}" style="display: block; width: 100%; height: 100%"></a></div>
                    <!-- <div class="element2 sliderElement visible">ELEMENT 2</div>
                    <div class="element3 sliderElement visible">ELEMENT 3</div>
                    <div class="element4 sliderElement visible">ELEMENT 4</div>
                    <div class="element5 sliderElement next">ELEMENT 5</div>
                    <div class="element6 sliderElement">ELEMENT 6</div>
                    <div class="element7 sliderElement">ELEMENT 7</div>
                    <div class="element8 sliderElement">ELEMENT 8</div> -->
                    {% endfor %}
                </div>
            <div id="sliderButton">
                <div class="sliderButton1" onclick="showSliderElementsButton(0)"></div> <!-- MUST BEGIN THE PARAMETER WHITH 0 -->
                <div class="sliderButton2" onclick="showSliderElementsButton(1)"></div>
            </div>
        </div>



        <article>
            <section class="par">
                <h2>POPULAR GAMES</h2>
                <div id="sliderContainerPOPULAR">
                    <div class="sliderButtonPOPULAR">
                        <div class="sliderButton1 " onclick="showSliderElementsButtonPOPULAR(-1)"><i class='fas fa-angle-double-left'></i></div> <!-- MUST BEGIN THE PARAMETER WHITH 0 -->
                    </div>
                    <div id="sliderPOPULAR">
                            {% for game in site.videogames %}
                            {% if game.rating == 10 %}
                        <div class="sliderElementPOPULAR visible" style="background: url({{game.image}}) no-repeat center center/cover;">{{ game.name }}<a href="{{game.url}}" style="display: block; width: 100%; height: 100%"></a></div>
                        {% endif %}
                        {% endfor %}
                        <!-- <div class="elementPOPULAR2 sliderElementPOPULAR visible">ELEMENT 2</div>
                        <div class="elementPOPULAR3 sliderElementPOPULAR visible">ELEMENT 3</div>
                        <div class="elementPOPULAR4 sliderElementPOPULAR visible">ELEMENT 4</div>
                        <div class="elementPOPULAR5 sliderElementPOPULAR">ELEMENT 5</div>
                        <div class="elementPOPULAR6 sliderElementPOPULAR">ELEMENT 6</div>
                        <div class="elementPOPULAR7 sliderElementPOPULAR">ELEMENT 7</div>
                        <div class="elementPOPULAR8 sliderElementPOPULAR">ELEMENT 8</div> -->
                    </div>
                    <div class="sliderButtonPOPULAR">
                        <div class="sliderButton2 " onclick="showSliderElementsButtonPOPULAR(1)"><i class='fas fa-angle-double-right'></i></div>
                    </div>
                </div>
            </section>
            <section class="impar">
                <h2>TRAILERS</h2>
                {% for game in site.videogames limit:1 %}
                

                <div id="trailerIframe">
                    <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/videoseries?list=PL0YfmUSvUzMUgjwGijXB0Ss7a0OQj3NU1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  -->
                    {{ game.trailer }}
                </div>
                {% endfor %}
            </section>

            <section class="par" id="news">
                <h2>NEWS</h2>

                {% for game in site.videogames limit:3 %}
                
                <div class="newsElement">
                    <a href="{{ game.url }}">
                        <div class="newsImage">
                            <img src="{{ game.image }}" alt="null" sizes="auto">
                        </div>
                        <div class="content">
                            <header>
                                <h3>{{ game.name }}</h3>
                                <span class="by-author">
                                            By
                                            <span style="white-space:nowrap"> ODB</span>
                                        </span>
                                <time class="published-date relative-date" datetime="2019-05-25T16:19:47Z" data-published-date="2019-05-25T16:19:47Z"></time>
                                </p>
                            </header>
                            <br>
                            <br>
                            <br>
                            <p class="synopsis"><span class="free-text-label"></span>
                                {{ game.description }}
                            </p>
                        </div>
                    </a>
                </div>
                
                {% endfor %}
                <!-- <div class="newsElement">
                    <a href="#">
                    <div class="newsImage">
                        <img src="https://cdn.mos.cms.futurecdn.net/4tG5ugQwmifnzsTSpbjYY8-650-80.jpg" alt="null" sizes="auto">
                    </div>
                    <div class="content">
                        <header>
                            <h3>Heavy Rain's free 45-minute demo is live on the Epic Games Store</h3>
                            <span class="by-author">
                                        By
                                        <span style="white-space:nowrap">Samuel Horti</span>
                                    </span>
                            <time class="published-date relative-date" datetime="2019-05-25T16:19:47Z" data-published-date="2019-05-25T16:19:47Z"></time>
                            </p>
                        </header>
                        <p class="synopsis"><span class="free-text-label">news</span>
                            Hunt for The Origami Killer across two chapters.
                        </p>
                    </div>
                    </a>
                </div>


                <div class="newsElement">
                    <a href="#">
                    <div class="newsImage">
                        <img src="https://cdn.mos.cms.futurecdn.net/rifesPkaJQXjbvMF34qkGY-650-80.jpg" alt="null" sizes="auto">
                    </div>
                    <div class="content">
                        <header>
                            <h3>Overwatch League commissioner to leave Blizzard for Epic Games</h3>
                            <span class="by-author">
                                        By
                                        <span style="white-space:nowrap">Samuel Horti</span>
                                    </span>
                            <time class="published-date relative-date" datetime="2019-05-25T16:19:47Z" data-published-date="2019-05-25T16:19:47Z"></time>
                            </p>
                        </header>
                        <p class="synopsis"><span class="free-text-label">news</span>
                            Nate Nanzer will work on competitive Fortnite.
                        </p>
                    </div>
                    </a>
                </div>


                <div class="newsElement">
                    <a href="#">
                    <div class="newsImage">
                        <img src="https://cdn.mos.cms.futurecdn.net/FGEcuUKtYwnferXgqfR4cH-650-80.jpg" alt="null" sizes="auto">
                    </div>
                    <div class="content">
                        <header>
                            <h3>'Gaming Disorder' officially recognized as disease by World Health Organization (Updated)</h3>
                            <span class="by-author">
                                        By
                                        <span style="white-space:nowrap">Andy Chalk</span>
                                    </span>
                            <time class="published-date relative-date" datetime="2019-05-25T16:19:47Z" data-published-date="2019-05-25T16:19:47Z"></time>
                            </p>
                        </header>
                        <p class="synopsis"><span class="free-text-label">news</span>
                            Industry calls for a rethink, saying decision was made with a lack of evidence.
                        </p>
                    </div>
                    </a>
                </div>


                <div class="newsElement">
                    <a href="#">
                    <div class="newsImage">
                        <img src="https://cdn.mos.cms.futurecdn.net/ADXDEZjwMUoHKZjVMX7wvM-970-80.jpg" alt="null" sizes="auto">
                    </div>
                    <div class="content">
                        <header>
                            <h3>Hearthstone's Reckless Experimenter is getting nerfed because of SN1P-SN4P</h3>
                            <span class="by-author">
                                        By
                                        <span style="white-space:nowrap">Andy Chalk</span>
                                    </span>
                            <time class="published-date relative-date" datetime="2019-05-25T16:19:47Z" data-published-date="2019-05-25T16:19:47Z"></time>
                            </p>
                        </header>
                        <p class="synopsis"><span class="free-text-label">news</span>
                            It turns out that the two of them could be used to trigger an early-game infinite damage combo. Oops!
                        </p>
                    </div>
                    </a>
                </div> -->


            </section>
        </article>
        {% include footer.html %}
        {% include scripts.html%}
</body>
</html>