/*  KEYFRAMES  */



/*  GENERAL  */

*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background-color: #0e0f16;
}
div{
    padding: 0;
}
h2{
    text-align: center;
    padding: 2%;
    margin: 0 !important;
    font-weight: bold;
}


/*  HEADER  */

/*importar*/


/*  CONTAINER  */


#container{
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    
}

/* ******* SLIDERS ******* */

    /**** SLIDER 1 MAIN ****/


#sliderContainer{
    border: 1px solid #fff;
    background: linear-gradient(to right, #8526547c, #d3840c);
}
#slider{
    width: 200%;
    height: 700px;
    text-align: center;
}

#slider div.sliderElement{
    filter:blur(1.8px);
    opacity: 0;
    display: none;
    text-align: center;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 12.5%;
    height: 100%;
    transition:margin 3s, opacity 1s, transform 2s, filter 2s, box-shadow 2s;

}
#slider div.sliderElement:hover{
    box-shadow: inset black 5px 5px 30px;
    cursor: pointer;
    transform: scale(0.96);
    filter:blur(0px);
}
#slider div.visible{
    display: inline-block;
    opacity: 1;
}
#slider div.next{
    display: inline-block;
    opacity: 0;
}

#sliderButton{
    text-align: center;
    width: 80%;
    margin: auto;
}
#sliderButton div{
    margin: 1%;
    display: inline-block;
    border: 1px solid green;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
#sliderButton div:hover{
    cursor: pointer;
    background-color: green;
    transition: 1s;
}



    /****SLIDER 2 POPULAR ****/



#sliderContainerPOPULAR{
    width: 50%;
    height: auto;
    margin: 5%;
    display: flex;
    justify-content: center;
    
}
@media screen and (max-width:850px){
    #sliderContainerPOPULAR{
        width: initial;
    }
    .sliderButtonPOPULAR{
        margin-right: 15px;
    }

}
#sliderPOPULAR{
    display: inline-block;
    width: 90%;
    height: 300px;
    overflow-y: hidden;

    
    
}

#sliderPOPULAR div.sliderElementPOPULAR{
    display: none;
    text-align: center;
    font-weight: bold;
    
    color: white;
    border: none;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 23%;
    height: 100%;
    margin: 0 1% 0 1%;
}
#sliderPOPULAR div.visible{
    display: inline-block;
    opacity: 1;
}

#sliderPOPULAR div:hover{
    box-shadow: inset black 10px 10px 20px;
    cursor: pointer;
    transition: 1s;
}

.sliderButtonPOPULAR{
    width: 3%;
    height: 40px;
    vertical-align: top;
    margin-top: 130px;
    
}

.sliderButtonPOPULAR div{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #d3840c;
    font-size: 25px;
    text-align: center;

}
.sliderButtonPOPULAR div:hover{
    cursor: pointer;
    color: darkolivegreen;
    transition: 1s;
}



/***** IMAGES ******/


/* SLIDER1 */

/* #slider .element1{
    background-image: url("https://i.pinimg.com/originals/52/1c/ae/521caea344745eeb750746771505167a.jpg");
}
#slider .element2{
    background-image: url("https://wallpapershome.com/images/pages/ico_v/13472.jpg");
}
#slider .element3{
    background-image: url("https://www.gamewallpapers.com/img_script/mobile_dir/img.php?src=wallpaper_dragon_age_inquisition_08.jpg&width=450&height=800&crop-to-fit");
}
#slider .element4{
    background-image: url("https://www.gamewallpapers.com/img_script/mobile_dir2/img.php?src=wallpaper_league_of_legends_42_1440x2560.jpg&width=450&height=800&crop-to-fit");
}
#slider .element5{
    background-image: url("https://www.gamewallpapers.com/img_script/mobile_dir/img.php?src=wallpaper_tomb_raider_fan_art_01.jpg&width=450&height=800&crop-to-fit");
}
#slider .element6{
    background-image: url("https://www.syanart.com/wp-content/uploads/2019/01/fortnite-Wall-6-1024x1820.jpg");
}
#slider  .element7{
    background-image: url("http://www.availableideas.com/wp-content/uploads/2016/02/Black-And-White-Chess-Board-Pieces-iPhone-6-Plus-HD-Wallpaper.jpg");
}
#slider .element8{
    background-image: url("http://inceptionwallpaper.com/wp-content/uploads/2018/09/wallpaper-holiday-halloween-31-october-pumpkin-host-forest-for-halloween-wallpaper-vertical.jpg");
} */

/* SLIDER2 */

/* #sliderPOPULAR .elementPOPULAR1{
    background-image: url("https://i.pinimg.com/originals/52/1c/ae/521caea344745eeb750746771505167a.jpg");
}
#sliderPOPULAR .elementPOPULAR2{
    background-image: url("https://wallpapershome.com/images/pages/ico_v/13472.jpg");
}
#sliderPOPULAR .elementPOPULAR3{
    background-image: url("https://www.gamewallpapers.com/img_script/mobile_dir/img.php?src=wallpaper_dragon_age_inquisition_08.jpg&width=450&height=800&crop-to-fit");
}
#sliderPOPULAR .elementPOPULAR4{
    background-image: url("https://www.gamewallpapers.com/img_script/mobile_dir2/img.php?src=wallpaper_league_of_legends_42_1440x2560.jpg&width=450&height=800&crop-to-fit");
}
#sliderPOPULAR .elementPOPULAR5{
    background-image: url("https://www.gamewallpapers.com/img_script/mobile_dir/img.php?src=wallpaper_tomb_raider_fan_art_01.jpg&width=450&height=800&crop-to-fit");
}
#sliderPOPULAR .elementPOPULAR6{
    background-image: url("https://www.syanart.com/wp-content/uploads/2019/01/fortnite-Wall-6-1024x1820.jpg");
}
#sliderPOPULAR  .elementPOPULAR7{
    background-image: url("http://www.availableideas.com/wp-content/uploads/2016/02/Black-And-White-Chess-Board-Pieces-iPhone-6-Plus-HD-Wallpaper.jpg");
}
#sliderPOPULAR .elementPOPULAR8{
    background-image: url("http://inceptionwallpaper.com/wp-content/uploads/2018/09/wallpaper-holiday-halloween-31-october-pumpkin-host-forest-for-halloween-wallpaper-vertical.jpg");
} */




/******* *  section and articles  * *******/


article{
    text-align: left;
    width: 100%;
    height: auto;
  
    /* border: 1px solid green; */
    display: inline-block !important;
}
section{
    padding: 20px;
    width: 100%;
    min-height: 600px;
}
section.impar{
    background-color:#0e0f16;
    border-bottom: 1px solid #ccc;
    color: #fff;
}
section.par{
    background-color: #0e0f16;
    border-bottom: 1px solid #ccc;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#news{
    border: none;
}

#trailerIframe{
    /* width: 50%;
    height: 500px;
    margin: 3% auto 3% auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;


}
/*****  NEWS  *****/


#news div.newsElement{
    width: 60%;
    overflow: hidden;
    max-height: 200px;
    margin: 1% auto 1% auto;
}

@media screen and (max-width:850px){
    #news div.newsElement{
      margin-bottom: 5rem !important;
    }
    #news div.newsElement div.newsImage{
        display: block;
        width: 20rem;
    }

    #news div.newsElement div.content header{
        position: initial;
         background: none;
         font-size: .5rem;
         
     }
    #news div.newsElement div.content p.synopsis{
        display: none;
    }
   
}
@media screen and (max-width:450px){
    #news div.newsElement div.content header{
        position: initial;
         background: none;
         font-size: .5rem;
         
     }
     #news div.newsElement div.content header .by-author{
        display:none;
    }
}


#news div.newsElement a:hover{
    color: red;
    transition: all 0.5s;

}

#news div.newsElement div{
    display: inline-block;
}

#news div.newsImage{
    width: 28%;
    border-radius: 10%;
    overflow: hidden;
}

div.newsImage img{
    width: 100%;
    height: 100%;
}

#news div.content{
    vertical-align: top;
    max-width: 70%;
    padding: 1% 2% 1% 2%;
}

#news div.content h3{
    margin-top: 0;
}

