<nav class="navbar">
      <span class="open-slide">
        <a href="#" onclick="openSlideMenu()" id="toggle">
          <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#fff" stroke-width="5" />
            <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
            <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
          </svg>
        </a>
      </span>
    <ul class="navbar-nav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/categories.html">Categories</a></li>
        <li><a href="/AboutUs.html">About</a></li>
        <li><a href="/contact.html">Contact</a></li>
    </ul>
</nav>
<div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <a href="/index.html">Home</a>
    <a href="/categories.html">Categories</a>
    <a href="/AboutUs.html">About</a>
    <a href="/contact.html">Contact</a>
</div>